.badge{

    display:inline-block;

    padding:6px 14px;

    border-radius:20px;

    font-size:13px;

    font-weight:600;

}

/* Pending */

.badge-warning{

    background:#FEF3C7;

    color:#92400E;

}

/* Approved */

.badge-success{

    background:#DCFCE7;

    color:#166534;

}

/* Rejected */

.badge-danger{

    background:#FEE2E2;

    color:#991B1B;

}

/* Completed */

.badge-info{

    background:#DBEAFE;

    color:#1E40AF;

}