/* ==========================================
   Base Button
========================================== */

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    min-width:100px;

    padding:12px 20px;

    border-radius:8px;

    border:none;

    cursor:pointer;

    font-weight:600;

    transition:.2s;

}

/* Primary */

.btn-primary{

    background:var(--primary);

    color:white;

}

.btn-primary:hover{

    background:var(--primary-hover);

}

/* Outline */

.btn-outline{

    background:white;

    border:1px solid var(--border);

    color:var(--text-primary);

}

.btn-outline:hover{

    background:#EEF4FF;

}

/* Danger */

.btn-danger{

    background:var(--danger);

    color:white;

}

.btn-sm{

    min-width:80px;

    padding:8px 14px;

    font-size:14px;

}